body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: #424551;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
}

.about__container {
  margin: 0 auto 180px;
}

.about__container .title:first-child {
  margin: 0 0 40px 0;
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
  color: #1e212c;
}

.about__container p:nth-child(2) {
  margin: 0 0 48px 0;
  line-height: 1.62;
}

.about__container h3:nth-of-type(1) {
  margin: 0 0 24px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  color: #1e212c;
}

.about__container ul:last-of-type {
  line-height: 1.62;
}

.about__container ul li:not(:last-child) {
  margin: 0 0 20px 0;
}

.about__container ul li::before {
  content: "";
  display: inline-block;
  padding: 0 0 0 32px;
  width: 16px;
  height: 16px;
  background: url(../img/check.svg) 0 0 no-repeat;
}

.course-curator__container div {
  margin: 0 0 16px 0;
}

.course-curator__container h6:first-of-type {
  margin: 0 0 8px 0;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #1e212c;
}

.course-curator__container .title:nth-of-type(1) {
  font-size: 46px;
  font-weight: 900;
  line-height: 60px;
  color: #1e212c;
}

.course-curator__container p:nth-child(2) {
  margin: 0 0 32px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #787a80;
}

.course-curator__container ul:nth-child(3) {
  margin: 0 0 32px 0;
  min-height: 26px;
  font-weight: 700;
  line-height: 1.62;
}

.course-curator__container ul li:not(:last-child) {
  margin: 0 0 4px 0;
}

.course-curator__container ul li:nth-of-type(1):before {
  content: "";
  display: inline-block;
  padding: 0 0 0 24px;
  width: 16px;
  height: 16px;
  background: url(../img/star.svg) 0 0 no-repeat;
}
.course-curator__container ul li:nth-of-type(2):before {
  content: "";
  display: inline-block;
  padding: 0 0 0 24px;
  width: 16px;
  height: 16px;
  background: url(../img/play.svg) 0 2px no-repeat;
}
.course-curator__container ul li:nth-of-type(3):before {
  content: "";
  display: inline-block;
  padding: 0 0 0 24px;
  width: 16px;
  height: 16px;
  background: url(../img/profile.svg) 0 2px no-repeat;
}

.course-curator__container p:nth-child(4) {
  line-height: 26px;
  letter-spacing: 1.62;
}

.footer {
  margin: 200px 0 0 0;
}

.footer__container > *:not(:last-child) {
  margin: 0 0 35px 0;
}

.links {
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 700;
}

.links li:not(:last-child) {
  margin: 0 0 5px 0;
}

.links a:link {
  color: rgb(222, 247, 2);
}

.links a:visited {
  color: rgb(96, 6, 241);
}

.links a:focus {
  outline: 2px solid rgb(255, 0, 191);
  border-radius: 5px;
}

.links a:hover {
  color: rgb(3, 160, 37);
  text-decoration: underline;
}

.links a:active {
  color: rgb(255, 0, 0);
}

.target .link {
  font-size: 20px;
  font-weight: 700;
}

.target .text {
  max-width: 400px;
  background-color: rgba(153, 205, 50, 0.76);
  padding: 15px;
  display: none;
}

.text:target {
  display: block;
}

.psevdo-class p:first-child {
  color: #00ffff;
}

.psevdo-class p:nth-child(2) {
  color: #96be04;
}

.psevdo-class p:nth-child(3) {
  color: #e40b53;
}

.psevdo-class p:last-child {
  color: #2b09ee;
}

.psevdo-class-two div a:first-child {
  color: rgb(106, 83, 236);
}

.psevdo-class-two p:first-of-type {
  color: #e40b53;
}

.psevdo-class-two p:nth-of-type(2) {
  color: #96be04;
}

.psevdo-class-two p:nth-of-type(3) {
  color: #00ffff;
}

.psevdo-class-two p:nth-last-of-type(1) {
  color: #8b4513;
}

.psevdo-class-two a:last-child {
  color: rgb(240, 240, 6);
}

.list-two {
  max-width: 200px;
}

.list-two li:nth-of-type(odd) {
  background-color: rgb(250, 118, 94);
}

.list-two li:nth-of-type(even) {
  background-color: #b4476c;
}
